.back_ground_image {
    background-image: url("/static/application/images/A1.png");
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_background{
    background-color:azure;
    height:35%;
    width:40%;
    background-position:center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items:center;
}
