pip>=25.2
setuptools>=70.0.0
wheel>=0.44.0

Django==3.2.25
gunicorn==23.0.0
whitenoise==6.5.0
dj-database-url==2.2.0
python-decouple==3.8
psycopg2-binary==2.9.9
PyMySQL==1.1.1
Pillow==9.5.0
cryptography==43.0.1  # latest stable
